<%= render "shared/header"%>

<div class="container">
 <div class="row">
    <div class="room-center">
    <h1 class=room-top>MyPage</h1>
    </div>
  </div>
</div>

<div class=main-top>
  <div class="profile-form">
    <h2>Profile</h2>
    <%= image_tag @user.image.variant(resize: '500x500'), class: 'user-image' if @user.image.attached?%>
      <table class="profile-table">
        <tbody>
          <tr>
            <th class="profile-col1">名前</th>
            <td class="profile-col2"><%= @user.name%></td>
          </tr>
          <tr>
            <th class="profile-col1">ニックネーム</th>
            <td class="profile-col2"><%= @user.nickname%></td>
          </tr>
          <tr>
            <th class="profile-col1">Email</th>
            <td class="profile-col2"><%= @user.email%></td>
          </tr>
          <tr>
            <th class="profile-col1">生年月日</th>
            <td class="profile-col2"><%= @user.birth_date%></td>
          </tr>
          <tr>
            <th class="profile-col1">住所</th>
            <td class="profile-col2"><%= @user.prefecture.name + @user.city_block%></td>
          </tr>
          <tr>
            <th class="profile-col1">最寄駅</th>
            <td class="profile-col2"><%= @user.station%></td>
          </tr>
        </tbody>
      </table>
    <% if current_user.id == @user.id %>
    <div class="profile-edit-btn">
      <%= link_to "プロフィールを編集",  edit_user_registration_path(@user.id) %>
    </div>
    <% end %>
  </div>




 <%# 記録フォーム＆一覧%>
 <% if current_user.id == @user.id %>
  <div class="sub-top">
    <div class="lesson-room-form">
      <h2>レッスンルーム</h2>
        <div class="room-form-block">
          <div class="form-block"></div>
          <% @lesson_rooms.each do |f|%>
           <span>＊レッスンルーム＊</span>
            <div class ="lesson-room-name">
              <%= link_to lesson_room_path(f.id) do%>
                <div class='room-text'><%= f.room_name %></div><br>
                <% if current_user.admin? %>
                  <div class="room-text-2">
                    <div class=room-edit><%= link_to "編集", edit_lesson_room_path(f.id) %></div>
                    <div class=room-destroy><%= link_to "削除", lesson_room_path(f.id), method: :delete %></div>
                  </div>
                <% end %>
              <% end %>
            </div>
          <% end %>
          <% if current_user.admin?%>
             <%= link_to "⇨LessonRoom作成フォームはこちら",new_lesson_room_path, class: 'room-text'%>
          <% end %>
        </div>
    </div>
    <%# 記録フォーム＆一覧%>

    <%# レッスン日程予約フォーム%>
    <div class="calender-form">
      <h2>レッスン予約</h2>

      <div class="calender-near-day">
        <div class="near-block"></div>
        <%# Customer　分岐%>
        <%if current_user.customer? %>
          <% if current_user.id == @user.id  %>
            <% if @user.calenders.blank? && Date.today <= @calender.min.day%>
              <div class="calender-text">予約中のレッスン受講日はありません</div>
            <% else %>
              <div class="calender-text">次のレッスンは
              <%= link_to calender_path(@user.calenders.min.id) do%>
                <%= @user.calenders.min.day  %>
                <%= @user.calenders.min.time %>
              <% end %>
              です。</div>
              <details class="calender-text"> 
                <summary>
                <span class="open">予約済一覧はこちら</span>
                <span class="close">予約済一覧</span>
                </summary>
                  <% @calender.each do |c|%>
                    <% if c.day >= Date.today %>
                      <li><%= c.day %>  <%= c.time %> <%= link_to "変更する",calender_path(c.id)%></li>
                    <% end %> 
                  <% end %>    
              </details>
              <%= link_to "⇨レッスン受講日予約はこちら",calenders_path, class: 'calender-text'  %>
            <% end %>
          <% else %>
            <div class="calender-text">閲覧できません</div>
          <% end %> 
        <%# Admin 分岐%>
        <% elsif current_user.admin? %>
          <details class="calender-text" > 
            <summary>
            <span class="open">一覧はこちら</span>
            <span class="close">予約済一覧</span>
            </summary>
              <% @calenders.each do |c|%>
                <% if c.day >= Date.today %>
                  <li><%= c.day %> 
                      <%= c.time %>
                      /生徒名 <%= c.user.name %>
                      <%= link_to "変更する",calender_path(c.id)%></li>
                <% end %> 
              <% end %>    
          </details>
          <%= link_to "⇨レッスン受講日予約はこちら",calenders_path, class: 'calender-text'  %>
        <% else %>
         <div class="calender-text">予約中のレッスン日はありません</div>
        <% end %>
      </div>
    </div>
 
<%# レッスン日程予約フォーム%>

<%# 支払いフォーム %>

    <div class="purchase-form">
      <h2>お支払いフォーム</h2>
          <div class="room-form-block">
           <div class="form-block"></div>
        <%= link_to "お支払いフォームはこちら",purchases_path,class:"room-text"%>
        </div>
    </div>
  </div>
 <% end %>
</div>