<%= link_to root_path, class: 'room-top-btn' do %>
<h1>MyPage</h1>
<% end %>

<div class="profile-form-block">
  <p><%= @user.name%></p>
  <p><%= @user.nickname%></p>
  <p><%= @user.email%></p>
  <p><%= @user.birth_date%></p>
  <p><%= @user.prefecture.name%></p>
  <p><%= @user.city_block%></p>
  <p><%= @user.station%></p>
</div>
<div class="col-12 text-right">
  <%= link_to "プロフィールを編集",  edit_user_registration_path(@user.id) %>
</div>



<%# 記録フォーム＆一覧%>
<% if current_user.admin?%>
  <%= link_to new_lesson_room_path, class: 'room-btn' do %>
  <span class='btn-text'>LessonRoom作成フォーム</span><br>
  <% end %>
<% end %>

<% @lesson_rooms.each do |f|%>
  <div class ="lesson-room-name">
    <%= link_to lesson_room_path(f.id), class: 'room-serect-btn' do%>
   <span class='botn-text'><%= f.room_name %></span><br>
   <% if current_user.admin? %>
    <div class="col-12 text-right">
      <%= link_to "編集", edit_lesson_room_path(f.id) %>
    </div>
    <div class="col-12 text-right">
      <%= link_to "削除", lesson_room_path(f.id), method: :delete %>
    </div>
    <%end%>
   <% end %>
  </div>
<% end %>
<%# 記録フォーム＆一覧%>

<%# レッスン日程予約フォーム%>
<%= link_to calenders_path, class: 'room-btn' do %>
  <span class='btn-text'>レッスン受講日予約</span><br>
<% end %>
<div class="calender-schedule">
 <p>次回のレッスン受講日<p>
  <% unless @user.calenders.present? %>
   <p>予約中のレッスン受講日はありません</p>
  <% else %>
    <p>次のレッスンは</p>
    <%= link_to calender_path(@calender.id) do%>
      <%= @calender.day  %>
      <%= @calender.time %>
    <% end %>
    <p>です。</p>
  <% end %>
</div>
<%# レッスン日程予約フォーム%>
