<%= link_to "ここは#{@lesson_room.room_name}のルームです",root_path, class: 'room-btn' %><br>

<% if current_user.admin? %>
  <div class="col-12 text-right">
    <%= link_to "編集", edit_lesson_room_path(@lesson_room.id) %>
  </div>
  <div class="col-12 text-right">
    <%= link_to "削除", lesson_room_path(@lesson_room.id), method: :delete %>
  </div>
<% end %>

<% if current_user.admin? %>
  <%= link_to new_lesson_room_review_path(@lesson_room.id), class: 'room-btn' do %>
    <span class='btn-text'>レッスン記録作成フォーム</span><br>
  <% end %>
<% end %>

<% @reviews.each do |f|%>
  <div class ="review-name">
   <%= link_to lesson_room_review_path(f.id), class: 'room-serect-btn' do%>
   <span class='botn-text'><%= f.title %></span><br>
   <% end %>
   <% if current_user.admin? %>
    <div class="col-12 text-right">
      <%= link_to '削除する', lesson_room_review_path(@review.ids), method: :delete %>
    </div>
  <% end %>
  </div>
<% end %>

<div class="col-12 text-right">
  <%= link_to 'MyPageへ戻る', user_path(current_user.id) %>
</div>