<div class="simple-calendar">
  <div class="calendar-heading">
    <%= link_to t('simple_calendar.previous', default: '先月'), calendar.url_for_previous_view %>
    <span class="calendar-title"><%= t('date.month_names')[start_date.month] %> <%= start_date.year %></span>
    <%= link_to t('simple_calendar.next', default: '来月'), calendar.url_for_next_view %>
  <% calenders = Calender.calenders_after_three_month %>
  </div>
  
  <table class="table-table-striped">
    <thead class="table-header"> 
      <tr>
       <th class="table-header-times">時間</th>
        <% date_range.slice(0, 7).each do |day| %>
          <th class="table-header-weeks"><%= t('date.abbr_day_names')[day.wday] %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <tr>
        <th></th>
          <% week.each do |day| %>
            <%= content_tag :th, class: calendar.td_classes_for(day) do %>
              <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(passed_block) %>
              <div class="table-header-week">
                <% capture_haml(day, sorted_events.fetch(day, []), &passed_block) %>
              </div>
              <% else %>
              <div class="table-header-week">
                <% passed_block.call day, sorted_events.fetch(day, []) %>
              </div>
              <% end %>
            <% end %>
          <% end %>
        </tr>
        <% times.each do |time| %>
          <tr>
            <td class="table-times"><%= time %></td>
            <% week.each do |day| %>
              <td>
                <% if check_calender(calenders, day, time) ||Date.today  >= day %>
                  <%= '×' %>
                <% else %>
                   <%= link_to new_calender_path(day: day, time: time) do %>
                    <%= '○' %>
                   <%end%>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
