<%= render "shared/header"%>
<div class="container">
  <div class="row">
   <div class="room-center">
      <h1 class="room-top">
       レッスンの振り返り
      </h1>
    </div>
  </div>
</div>
<div class="review-show">
  <table class="review-box">
    <% @review.each do |review| %>
        <tbody>
          <tr>
            <th class="profile-col1">Title</th>
            <td class="profile-col2"><%= review.title%></td>
          </tr>
          <tr>
            <th class="profile-col1">日時</th>
            <td class="profile-col2"><%= review.time.strftime('%Y/%m/%d')%></td>
          </tr>
          <tr>
            <th class="profile-col1">内容</th>
            <td class="profile-col2"><%= review.text%></td>
          </tr>
          <tr>
            <th class="profile-col1">ホームワーク</th>
            <td class="profile-col2"><%= review.home_work%></td>
          </tr>
          <tr>
            <th class="profile-col1">お知らせ</th>
            <td class="profile-col2"><%= review.information%></td>
          </tr>
          <tr>
            <th class="profile-col1">楽譜</th>
            <td class="profile-col2"><%=image_tag review.image.variant(resize: '250x250'), class: 'review-image' if review.image.attached?%></td>
          </tr>
        </tbody>
    <% end %>
  </table>
  <%if current_user.admin?%>
    <div class="col-12 text-right">
      <%= link_to '編集する', edit_lesson_room_review_path(@review.ids) %>
    </div>
    <div class="col-12 text-right">
      <%= link_to '削除する', lesson_room_review_path(@review.ids),method: :delete %>
    </div>
  <% end %>
  <div class="col-12 text-right">
    <%= link_to '戻る', lesson_room_path(@lesson_room.id) %>
  </div>
</div>
   
    